* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.insta-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.insta-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.insta-phone img {
    height: 40rem;
    padding-right: 10px;
}

.insta-continue {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group {

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1) {
    min-height: 19rem;
    margin-bottom: 3px;
    margin-top: 30px;
}

.insta-logo {
    height: 3rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    height: 6rem;
}

.insta-login {
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.insta-logout {
    color: #0095f6;
    margin-top: 1rem;
}

.not-account {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095f6;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
}

.app-download {
    height: 3.8rem;
    width: 11rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('/images/pngwing.com.png');
}

.app-download:nth-child(2) {
    background-image: url('/images/play-store-logo-nisi-filters-australia-11.png');
}

/*Responsividade*/
@media (max-width: 1024px) {
    .insta-wrapper {
        width: 95%;
    }

}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .insta-wrapper{
        width: 90%;
    }

    .insta-phone {
        display: none;
    }

    .insta-continue {
        width: 100%;
    }
    
    .group {
        border: 1px solid transparent;
    }
}